body {
  background-color: #111111;
}
#apple-product {
  background-color: #fff;
  width: 300px;
  height: 400px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
}

#product-name {
  margin-top: 0;
}

#product-image {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: 10px;
}
